body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* html,body{
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    } */

  main {
    flex: 1 0 auto;
  }
  
  .themez {
    background-color:#18191A;
  }

  
  /* .card-image
  {
  height:150px !important;
  } */

  .card {
    height:300px;
  }

  .customtext {
    color:white !important;
    text-align:center;
  }

.yeet {
  background-color:#18191A !important;
}
.collapsible{
  margin-top:50px;
  margin-bottom:20px;
}

/* .collapsible-body {
  color:white;
} */